<!doctype html>

<html class="no-js">

<head>

  <include file="Public:Meta" />

  <include file="Public:css" />

</head>

<body>

<!--[if lte IE 9]>

<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>

  以获得更好的体验！</p>

<![endif]-->



<include file="Public:top" />



<div class="am-cf admin-main">

 <!--引入左侧菜单文件-->

  <include file="Public:column" />

  <!-- sidebar end -->



  <!-- content start -->

  <div class="admin-content">



    <div class="am-cf am-padding">

     <include file="Public:location" />

    </div>


  </div>

  <!-- content end -->



</div>



<include file="Public:footer" />
<include file="Public:js" />
</body>

</html>

